* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.blue_container {
    background-color: #281AC8;
    width: 600px;
    height: 510px;
    margin: 10px;

}

.section1 {
    display: flex;
    border: solid 5px deeppink;
    width: 600px;
    height: 170px;
    justify-content: space-between;
}

.green1, .green2 {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 5px;
}

.section2 {
    border: solid 5px deeppink;
    width: 600px;
    height: 170px;
    justify-content: center;
    display: flex;
}

.red {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 5px;
}

.section3 {
    border: solid 5px deeppink;
    width: 600px;
    height: 170px;
    display: flex;
}

.top_bottom {
    width: 550px;
    height: 150px;
    margin: 5px 50px;
    background-color: red;
    display: flex;
    justify-content: space-between;

}
.white2, .white4:nth-child(even){
    align-self: flex-end;
}


.white1, .white2, .white3, .white4 , .white5 {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 10px;
}



