* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 600px;
    height: 600px;
    background-color: red;
    margin: 10px;
}

.top {
    width: 100%;
    height: 150px;
    background-color: #1e7e34;
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
   al
    flex-wrap: wrap;

}

.yellow1, .yellow2, .yellow3, .yellow4 {
    width: 130px;
    height: 120px;
    background-color: yellow;
}

.bottom {
    width: 100%;
    height: 450px;
    border: solid 5px red;
    background-color: #1e7e34;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 500px;
    overflow-y: scroll;
    flex-wrap: wrap;
    max-height: 600px;


}
.smallyellow{
    width: 60px;
    height: 60px;
    background-color: yellow;
}

