* {
    box-sizing: border-box;
}

.container {
    background-color: yellow;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: space-around;
}

.box3 {
    display: flex;
    width: 200px;
    height: 800px;
    flex-direction: column;
    justify-content: space-between;

}

.small1, .small2, .small3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 10px;
}

.box2 {
    display: flex;
    width: 300px;
    height: 800px;
    flex-direction: column;
    justify-content: space-between;
}

.big1, .big2 {
    background-color: green;
    width: 280px;
    height: 280px;
    margin: 10px;

}

.green1, .green2 {
    width: 20%;
    height: 20%;
    background-color: blue;
    margin: 10px;
}

.big1 {
    display: flex;
    justify-content: end;
    align-items: end;
}
.big2{
    display: flex;
    justify-content: end;

}

.green2 {

}

.box__red {
    height: 800px;
    display: flex;
    align-items: center;
}

.box1 {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 10px;
}
