* {
    box-sizing: border-box;
}

.container {
    background-color: green;
    border: solid red 10px;
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
}

.dialog15, .dialog20, .dialog25, .dialog30, .dialog50 {
    background-color: yellow;
    margin: 10px;
    max-width: 70%;
}

.dialog25 {
    width: 350px;
    height: 100px;
}
.dialog30 {
    width: 400px;
    height: 100px;
    align-self: end;
}
.dialog15 {
    width: 300px;
    height: 100px;
    align-self: end;

}
.dialog20 {
    margin: 0 10px;
    width: 250px;
    height: 120px;
   position: relative;
    z-index: 1;
    bottom: -34px;
}
.dialog50 {
    width: 600px;
    height: 100px;
}

.purple {
    background-color: purple;
    width: 100%;
    height: 100px;
    border: solid red 5px;
    position: relative;
    z-index: 0;



}